<% provide(:title, @account.name) %> 
<h1><%= @account.name %></h1>

<div class="row">
  <div class="span6 offset3">
    <ul>
      <li>Name: <%= @account.name %></li>
      <li>Status: <%= @account.status %></li>
    </ul>
    <%= link_to 'Accounts', accounts_path, class: "btn" %>
    <%= link_to 'Malls', malls_path(account_id: @account.id), class: "btn" %>
    <%= link_to 'Edit', edit_account_path(@account), class: "btn btn-primary" %>
  </div>
</div>
