<% provide(:title, 'Profile') %>

<div class="profile-container">
  <div class="row-fluid">

    <div class="span2">
      <%= render 'profiles/sidenav' %>
    </div><!--/span-->

    <div id="idTab1">
      <%= render partial: 'profiles/tab_profile' %>
    </div><!--End of idTab1-->

    <div id="idTab2">
      <%= render partial: 'profiles/tab_change_password' %>
    </div><!--End of idTab2-->

    <div id="idTab3">
      <%= render partial: 'profiles/tab_users' %>
    </div><!--End of idTab3-->

    <div id="idTab4">
      <%= render partial: 'profiles/tab_billing' %>
    </div><!--End of idTab4-->

    <div id="idTab5">
      <%= render partial: 'profiles/tab_change_plans' %>
    </div><!--End of idTab5-->

  </div><!--/row-->
</div>

<div class="modal hide fade" id="modal4">
  <div class="modal-header borNon">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="requestAcc">Invite a New Team Member</h3>
  </div>
  <div class="modal-header borNon padr30px">
  <form class="padtb70px">
    <span class="row-fluid">  
    <input type="text" class="span11 pull-left" />
    <span class="span1 pull-right marginLeft0">
    <span class="btn-group btn-floor floorInfoDetailsBtns">
    <a class="btn btn-invite1" type="button"><i class="icon-comment"></i></a>
    </span>
    </span>
    <label class="loLabel"><i>(Separate emails with commas)</i> </label>
    </span>
  </form>
  </div>
  <div class="formFooter">
  <button class="btn pull-left btn-custom closPos2" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
  <!--End of formFooter-->
  </div>
</div>
