<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <%= @name %> is requesting access to MapBuilder.
    </p>
    <ul>
      <li>Name: <%= @name %></li>
      <li>Email: <%= @email %></li>
      <li>Property: <%= @property %></li>
      <li>Phone: <%= @phone %></li>
    </ul>
  </body>
</html>
