<% provide(:title, @user.name) %> 
<h1><%= @user.name %></h1>

<div class="row">
  <div class="span6 offset3">
    <ul>
      <li>Account: <%= @user.account ? @user.account.name : "" %></li>
      <li>Name: <%= @user.name %></li>
      <li>Email: <%= mail_to @user.email %></li>
      <li>Role: <%= @user.role %></li>
    </ul>
    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %>
  </div>
</div>
