#password_tab.tab-pane
  %h2 Change Password
  = simple_form_for user do |f|
    = f.input :old_password, :required => true
    = f.input :password, :required => true
    = f.input :password_confirmation, :required => true

    = f.button :submit, :value => 'CHANGE PASSWORD', :class => "btn btn-custom"

