#profile_tab.tab-pane.active
  %h2 Profile

  = simple_form_for user do |f|
    .form-inline.clearfix
      = f.input :first_name, :wrapper_html => {:class => 'inline span3'}
      = f.input :last_name, :wrapper_html => {:class => 'inline span3'}

    = f.input :email, :input_html => {:class => 'input-xxlarge'}

    = f.fields_for :account do |af|
      = af.input :team_agent, :as => :select, :collection => user.account.try(:users), :input_html => {:class => 'input-xxlarge'}

    .control-group
      .controls
        = f.submit :submit, :value => "UPADTE PROFILE", :class => "btn btn-primary"



