%tr.data-row{:id => dom_id(user)}
  %td= user.account.try(:name)
  %td= user.name
  %td= user.email
  %td= user.role
  %td
    %button{:class => "btn btn-#{user.account.status}"}
      = user.account.status
  %td.btn-group
    %a.btn.btn-comment{:type => "button", :data => {:toggle => "collapse", :parent => "#users_table"}, :href => "#edit_#{dom_id(user)}"}
      %i.icon-comment
    %a.btn.btn-delete{:type => "button"}
      %i.icon-trashcan
%tr.form-row
  %td{:colspan => 6}
    .collapse{:id => "edit_#{dom_id(user)}"}
      = simple_form_for user, :html => {:class => 'compact-form'} do |f|
        = f.simple_fields_for :account do |af|
          = af.input :name, :label => 'Account'
          = f.input :name
          = f.input :email
          = f.input :role, :as => :radio, :collection => User::ROLES, :wrapper_html => {:class => 'form-horizontal'}

          = f.button :submit
