<div class="row-fluid">
  <div class="span5 loginmin customOffset1">
    <h2>Sign in</h2>
        <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <fieldset>
            <%= f.input :email, 
                :label => "<i>Email</i> Don’t have access? " + 
                          link_to("Request it here", "#", { :"data-toggle" => "modal", :"data-target" => "#modal1" }),
                :required => false, 
                :autofocus => true, 
                :input_html => { :class => 'span12' } %>
            
            <%= f.input :password, 
                :label => "<i>Password</i> Forgot your Password? " + render("devise/shared/links"),
                :required => false, 
                :input_html => { :class => 'span12' } %>

            <%= f.input :remember_me, as: 
                :boolean, 
                :label => false, 
                :wrapper_html => { :class => 'span10' },
                :input_html => { :class => 'styledCheckbox' },
                :inline_label => "Keep me signed in" if devise_mapping.rememberable? %>    
            <%= f.button :submit, "LOGIN", class: "btn btn-custom" %>
          </fieldset>
        <% end %>
  </div><!--/span-->
</div><!--/row-fluid-->
<%= render :partial => "devise/shared/modals", :locals => {:modal=> "signup"} %>
<%= render :partial => "devise/shared/modals", :locals => {:modal=> "password_recover"} %>
<script type="text/javascript">
    $('.styledCheckbox').checkbox({
      cls:'jqueryCheckbox',
      empty:'/assets/empty.png'
    });
</script>
