<% provide(:title, @mall.name) %> 
<h1><%= @mall.name %> - Connector</h1>

<div class="row">
  <div class="span6 offset3">
    <ul>
      <li>Type: <%= @connector.connector_type.name %></li>
      <ul>
        <% @connector.connector_locations.each do |location| %>
          <li><%= location.floor.label %>: <%= location.location %></li>
        <% end %>
      </ul>
    </ul>
    <%= link_to 'Stores', mall_connectors_path(@connector.mall), class: "btn" %>
    <%= link_to 'Edit', edit_mall_connector_path(@mall, @connector), class: "btn btn-primary" %>
  </div>
</div>
