<% provide(:title, @mall.name) %> 
<h1><%= @schedule.mall.name %> - <%= @schedule.name %> - <%= @interval.name %></h1>

<div class="row">
  <div class="span6 offset3">
    <ul>
      <li>Name: <%= @interval.name %></li>
      <li>Day: <%= ScheduleInterval.day_name(@interval.day) %></li>
      <li>Open Time: <%= @interval.open_string %></li>
      <li>Close Time: <%= @interval.close_string %></li>
    </ul>
    <%= link_to 'Intervals', mall_schedule_schedule_intervals_path(@mall, @schedule), class: "btn" %>
    <%= link_to 'Edit', edit_mall_schedule_schedule_interval_path(@mall, @schedule, @interval), class: "btn btn-primary" %>
  </div>
</div>
