<% provide(:title, @mall.name) %> 
<h1><%= @mall.name %></h1>

<div class="row">
  <div class="span6 offset3">
    <ul>
      <li>Status: <%= @mall.status.to_s.humanize %></li>
      <li>Email: <%= @mall.email %></li>
      <li>Website: <%= link_to @mall.website, @mall.website if !@mall.website.blank? %></li>
      <li>Phone: <%= @mall.phone %></li>
      <li>Address: <%= @mall.address %><br />
      <%= @mall.city %>, <%= @mall.state %> <%= @mall.zipcode %></li>
      <li><%= @mall.latitude %>, <%= @mall.longitude %></li>
    </ul>
    <%= link_to 'Floors', mall_floors_path(@mall), class: "btn" %>
    <%= link_to 'Schedules', mall_schedules_path(@mall), class: "btn" %>
    <%= link_to 'Connectors', mall_connectors_path(@mall), class: "btn" %>
    <%= link_to 'Stores', mall_stores_path(@mall), class: "btn" %>
    <%= link_to 'Zones', mall_zones_path(@mall), class: "btn" %>
    
    <div class="form-actions">
      <%= link_to 'Edit', edit_mall_path(@mall), class: "btn btn-primary" %>
      <%= link_to 'Delete', @mall, confirm: 'Are you sure?', method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
</div>
