<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
      <% if current_account %>
        <%= link_to current_account.name, account_path(current_account), class: "logo brand" %>
      <% else %>
        <%= link_to root_path, :class => "brand" do %>
          <%= image_tag "mall-rat.png", alt: "Mall Rat" %>
        <% end %>
      <% end %>
    <% if user_signed_in? %>
      <nav class="nav-collapse collapse pull-right">
        <ul class="nav">
          <li><%= link_to root_path do %><i class="icon-house icon-white"></i>Dashboard<% end %></li>
          <li><%= link_to venu_mall_path do %><i class="icon-location"></i>Venues<% end %></li>
          <li><%= link_to vendors_path do %><i class="icon-cart"></i>Vendors<% end %></li>
          <li><%= link_to accounts_path do %><i class="icon-cog"></i>Accounts<% end %></li>
          <li><%= link_to users_path do %><i class="icon-user"></i>Users<% end %></li>
          <li><%= link_to profile_path do %><i class="icon-cog icon-white"></i>Profile<% end %></li>
          <li><%= link_to destroy_user_session_path, method: :delete do %><i class="icon-user icon-user-custom"></i>Log Out<% end %></li>
        </ul>
      </nav>
    <% end %>
  </div>
</header>
