<%- if @mall %>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">

        <button class="btn btn-leftsider-toggle" data-toggle="button"><i class="icon-pencil"></i></button>
        
        <a class="brand map-brand span5" href="#">
        	<em><%=truncate @mall.name, :limit => 30 %></em>

          <button class="btn btn-not-strated" type="button"><%= @mall.status.to_s.humanize %></button>

          <br/>
          <p>last updated <%= l @mall.updated_at, format: :long %> <i>(<%= time_ago_in_words(@mall.updated_at) %> ago)</i></p>
        </a>
        
        <div class="nav-collapse collapse pull-right">
          <ul class="nav">
            <li>
              <%= link_to root_path do %>
                <i class="icon-house icon-white"></i>DASHBOARD
              <% end %>
            </li>

            <li>
              <%= link_to venu_mall_path do %>
                <i class="icon-location"></i>VENUES
              <% end %>
            </li>

            <li>
              <a href="#CONTENT">
                <i class="icon-bookmark"></i>CONTENT
              </a>
            </li>

            <li>
              <%= link_to accounts_path do %>
                <i class="icon-cog"></i>ACCOUNT
              <% end %>
            </li>

            <li class="active">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="icon-user icon-user-custom"></i>LogOUT
              <% end %>
            </li>
            
          </ul>
        </div>

      </div>
    </div>
  </div>
<% end %>