<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css">
    <script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>
    
    <%= csrf_meta_tags %>
  </head>

  <body class=" <%= body_class %> ">
    <div class="wrapper">
    	<%= render 'layouts/header' %>
  	  <%= render 'layouts/mapbuilder_header' %>

      <div class="content container-fluid custom-container">
  	      <% flash.each do |key, value| %>
  	        <div class="alert alert-<%= key %>"><%= value %></div>
  	      <% end %>

  	      <%= yield %>  
  	  </div>

  	  <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
