<% content_for :container do %>
  <%= render 'layouts/header' %>
  <%= render 'layouts/mapbuilder_header' %>

  <div class="content">
    <div class="container-fluid">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

      <%= yield %>
    </div>
  </div>

  <%= render 'layouts/footer' %>
<% end %>
<%= render file: 'layouts/base' %>