<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
    <style type="text/css">
      body {
        padding-top: 60px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
  <%= stylesheet_link_tag "profile", :media => "all"%>
  <%= javascript_include_tag "profile"   %>
  <%= csrf_meta_tags %>
</head>
<body class="l-profile <%=body_class %>">
  <div class="wrapper">
  	<%= render 'layouts/header' %>
	  <div class="content">
      <%= render "/shared/flash" if flash.present? %>

	    <%= yield %>
	  </div>
    <%= yield :modals %>
	  <%= render 'layouts/footer' %>
  </div>
</body>
</html>
