<% provide(:title, 'Accounts') %>

<div class='default-container'>

  <h1>Accounts</h1>
  <table class="table table-striped table-hover">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th style="width: 36px"></th>
    </tr>
  <% @accounts.each do |account| %>
    <tr>
      <td><%= link_to(account.name, account) %></td>
      <td><%= mail_to(account.email) %></td>
      <td><%= account.status %></td>
      <td>
        <%= link_to edit_account_path(account) do %><i class="icon-pencil"> </i><% end %>
        <%= link_to account, confirm: 'Are you sure?', method: :delete do %><i class="icon-remove"> </i><% end %>
      </td>
    </tr>
  <% end %>
  </table>
  <%= will_paginate %>

  <%= link_to 'New Account', new_account_path, class: "btn btn-primary" %>

</div>